<form>
    <div class="form-outline mb-4">
      <input type="text" id="form2Example1" class="form-control" />
      <label class="form-label" for="form2Example1">Passsword</label>
    </div>
    <div class="form-outline mb-4">
      <input type="text" id="form2Example1" class="form-control" />
      <label class="form-label" for="form2Example1">Confirm Password</label>
    </div>
  
     
    </div>
  
    <!-- Submit button -->
    <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button>
  
    </div>
  </form>